body{
    background-color: lightgrey
}
.table1
{
    font-family: cursive;
}
.link:hover
{
    background-color: lightblue;
}
.link:active a
{
    color: red;
}
.link a
{
    color: brown;
}
.header
{
  float: center;
  text-align: center;
}
#header
{
    margin: 30px 12px 3px 4px;
    border: 3px solid;
}
.tableDesign
{
    background-color: black;
    color: white;
}
.intro
{
    font-family: helvetica;
}
.things
{
    margin-left: 800px;
}
.trail
{
    height: 300px;
    width: 500px;
    float: left;
    margin: 30px 12px 3px 4px;
    border: 3px solid;
}
.squirrel
{
    height: 300px;
    width: 500px;
    float: right;
    margin: 30px 12px 3px 4px;
    border: 3px solid;

}
.about
{
    text-align: center;
}

.navBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.navBar a
{
    color: black;
}
.navBar1:hover a
{
    color: red;
}
.navBar2:hover a
{
    color: red;
}
.navBar3:hover a
{
    color: red;
}
.navBar4:hover a
{
    color: red;
}
.navBar1
{
    font-weight: bold;
}
.navBack a
{
    background-color: rgb(211, 221, 244);
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 200px;
    text-decoration: none;
}
.navbar navbar-light bg-grey
{
    background-color: lightgrey;
    padding: 50px;
}
